

.buttton-details{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.bkBtn{
    width: 136px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #FFF;
    border: none;
    outline: none;
    
}

.buttonText h4{
  
color: #111517;
font-family: "Nunito Sans", sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 20px; 
}

.dark-mode .bkBtn{
    background-color: #2B3844;
   
}


.dark-mode .buttonText h4{
 color: #FFF;   
}

.dark-mode .backArrow{
    color: #fff;
}