.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 80px;
    background-color:#fff;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
}

h1{
    font-family: 'Nunito Sans', sans-serif;
}

.dark-mode .navBar{
    background: #2B3844;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
    color: #fff;
}