


.SearchContentDetails{
    display: flex;
    background-color: #fff;
    width: 480px;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
    align-items: center;
}

input {
    color: #848484;
    font-style: normal;
    font-weight: 400;
    max-width: 100%;
    width: 400px;
    height: 56px;
    border-radius: 5px;
    background: #fff;
    /* box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05); */
    border: none;
    font-size: 14px;
    font-family: 'Nunito Sans', sans-serif;

  }
  
  input:focus {
    border: none;
    outline: none;
  }

  .SearchButton{
    padding: 0 24px;
  }

  .dark-mode .SearchContentDetails{
    color: #fff;
    background: #2B3844;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
  }

  .dark-mode input{
    color: #fff;
    background: #2B3844;
  }

  
@media only screen and (max-width: 480px) and (min-width: 320px){

.SearchContentDetails{
  width: 343px;
}

input{
  width: 100%;
}

}